@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #C5CED8;
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column1 {
  display: flex;
  column-gap: 15px;
}
.form .column2 {
  display: flex;
  column-gap: 15px;
}
.form h3{
  padding: 15px;
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .container1 {
  margin-top: 20px;
}
.container1 h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.column3, .column4) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .colum3 {
  column-gap: 5px;
}
.form .colum4 {
  column-gap: 5px;
}
.container1 input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.container1 input, .container1 label) {
  cursor: pointer;
}


.botao {
  display: inline-block; /* Coloca os botões lado a lado horizontalmente */
  margin: 10px; /* Espaçamento entre os botões (ajuste conforme necessário) */
  padding: 20px;
}

.botao a {
  text-decoration: none; /* Remove sublinhado dos links */
  padding: 10px 20px; /* Espaçamento interno dos botões (ajuste conforme necessário) */
  background-color: #C5CED8; /* Cor de fundo do botão (ajuste conforme necessário) */
  color: #000000; /* Cor do texto do botão (ajuste conforme necessário) */
  border-radius: 5px; /* Borda arredondada (ajuste conforme necessário) */
}
.form botao:hover {
  background: rgb(108, 116, 185);
}
