<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../static/flavor_fusion/login.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="#" class="nav_logo">FlavorFusion</a>
        <!-- Corrija o link âncora para a página de cadastro.html -->
        <a href="/cadastro" class="button" id="registrar-se-button">Registrar-se</a>
      </nav>
    </header>
    <div class="form_container">
      <div class="form login_form">
        <form action="#">
          <h2>Iniciar Sessão</h2>
          <div class="input_box">
            <input type="text" placeholder="Usuário" required />
          </div>
          <div class="input_box">
            <input type="password" placeholder="Senha" required />
          </div>
          <button class="button">Login</button>
        </form>
      </div>
    </div>

    <!-- Adicione o código JavaScript abaixo -->
    <script>
      // Selecione o botão "Registrar-se" usando seu id
      const registrarSeButton = document.getElementById('registrar-se-button');

      // Adicione um ouvinte de evento de clique ao botão
      registrarSeButton.addEventListener('click', function(event) {
        // Impede o comportamento padrão do link âncora (navegar para uma nova página)
        event.preventDefault();

        // Redirecione para a página "cadastro.html"
        window.location.href = '/cadastro';
      });
    </script>
  </body>
</html>
