

<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'Tasty/flavor_fusion/static/login.css' %}" />
    <title>Login</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="#" class="nav_logo">FlavorFusion</a>
        <!-- Corrija o link âncora para a página de cadastro.html -->
        <a href="Tasty\flavor_fusion\templates\cadastro.html" class="button" id="registrar-se-button">Registrar-se</a>
      </nav>
    </header>
    <div class="form_container">
      <div class="login_form">
        <form action="#">
          <h2>Iniciar Sessão</h2>
          <div class="input_box">
            <input type="text" placeholder="Usuário" required />
          </div>
          <div class="input_box">
            <input type="password" placeholder="Senha" required />
          </div>
          <button class="button">Login</button>
        </form>
      </div>
    </div>

    <!-- Adicione o código JavaScript abaixo -->
    <script>
      // Selecione o botão "Registrar-se" usando seu id
      const registrarSeButton = document.getElementById('registrar-se-button');

      // Adicione um ouvinte de evento de clique ao botão
      registrarSeButton.addEventListener('click', function(event) {
        // Impede o comportamento padrão do link âncora (navegar para uma nova página)
        event.preventDefault();

        // Redirecione para a página "cadastro.html"
        window.location.href = 'Tasty\ flavor_fusion\ templates\ cadastro.html';
      });
    </script>
  </body>
</html>
